@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #fafafa;

  --card: #111111;
  --border: #27272a;

  --muted: #a1a1aa;

  --primary: #ffffff;
  --primary-foreground: #09090b;
}

* {
  border-color: var(--border);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family:
    Arial,
    Helvetica,
    sans-serif;

  min-height: 100vh;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  overflow-x: hidden;
}

/* HIDE SCROLLBAR */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}